<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login | Grace Enterprise</title>

    <!-- Core CSS - Include with every page -->
    <%= stylesheet_link_tag    "application", media: "all" %>

</head>

<body>

    <div class="container">
        <div class="row">
            <%= yield %>
        </div>
    </div>

    <!-- Core Scripts - Include with every page -->
    <%= javascript_include_tag "application" %>

</body>

</html>
